@import url("https://fonts.googleapis.com/css?family=Inconsolata");

body {
  height: 100%;
  width: 100%;
  background-color: rgb(216, 216, 216);
  margin: 0;
  padding: 0;
}

img {
  height: 149px;
  width: auto;
  margin: 20px;
  cursor: pointer;
}

.wrap {
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 40px;
}

.image_group {
  height: 100%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.title {
  margin: 20px 0 0 20px;
  font-family: "Inconsolata";
  font-size: 30px;
}

#popup {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(216, 216, 216);
  background-color: rgba(216, 216, 216, 0.9);
}

#modal-img {
  margin: auto;
  display: block;
  width: 50%;
  height: auto;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: rgb(48, 48, 48);
  padding: 10px 0;
  height: 150px;
  font-family: "Inconsolata";
}
