@import url("https://fonts.googleapis.com/css?family=Inconsolata");

body {
  height: 100%;
  width: 100%;
  background-color: #d8d8d8;
  margin: 0;
  padding: 0;
}

img {
  height: 149px;
  width: auto;
  margin: 20px;
}

.wrap {
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 40px;
}

.image_group {
  height: 100%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.title {
  margin: 20px 0 0 20px;
  font-family: "Inconsolata";
  font-size: 30px;
}

#popup {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

#modal-img {
  margin: auto;
  display: block;
  width: 50%;
  height: auto;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-family: "Inconsolata";
}
