@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
	height: 100%;
	width: 100%;
	background-color: #d8d8d8;
	margin: 0;
	padding: 0;
}

img {
	height: 200px;
	width: auto;
	margin: 20px;
}

#wrap {
	max-height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	margin: 40px;
}

.image_group {
	height: 100%;
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
}

.title {
	margin: 20px 0 0 20px;
	font-family: 'Inconsolata';
	font-size: 30px;
}
